<div class="site__logo">
    Rental pages
</div>

<ul class="nav">
    <li class="navItem"><a href="{{ path('person_index') }}">Person</a></li>
    <li class="navItem"><a href="{{ path('rental_object_index') }}">Rental object</a></li>
    <li class="navItem"><a href="{{ path('contract_index') }}">Contract</a></li>
</ul>
